
<!-- Sidebar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" title="Home"><img src="/public/images/logo_nacion.jpg" width="200" height="37" class="img-responsive" alt="Nacion321"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="sidebar-search">

                <a href="/">
                    <!--<img src="<?php echo site_url();?>assets/images/new-logo.png" height="35">-->
                    <center><span style="font-size:27px">Encuesta de encuestas</span></center>
                </a>
            </li>
            <!---Menus here--->

            <li class="dropdown"><a title="Voto Nacional" href="/votonacional"><i class="fa fa fa-users"></i> Voto Nacional</a></li>
            <li class="dropdown"><a title="Votaciones" href="/graph"><i class="fa fa fa-area-chart"></i> Votaciones</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-sitemap"></i> Aprobación <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown"><a title="User" href="/user-management/users"><i class="fa fa-angle-double-right"></i> Elecciones internas</a></li>
                    <li class="dropdown"><a title="Jabatan" href="/user-management/groups"><i class="fa fa-angle-double-right"></i> Elecciones externas</a></li>
                </ul>
            </li>

        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> Menú <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/user/profile"><i class="fa fa-user fa-fw"></i>Brutos</a>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Efectivos</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>